# Intellij Files
.idea

# Sonarcube hidden folders
.scannerwork

# Dependencies
vendor

# Own composer specific files
composer.phar
composer.lock

.phpunit.result.cache
tests/code-coverage-report.xml
